<div id="main-footer-push"></div>
<footer id="main-footer" class="panel panel-default">
  &nbsp;&nbsp;&nbsp;&nbsp;&copy; 2016 TeamDTL. &nbsp;&nbsp;&nbsp; All Rights Reserved. &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 408.520.0574 &nbsp;&nbsp;&nbsp; info@incentru.com &nbsp;&nbsp;&nbsp; 
  <%= link_to "Terms & Conditions", "/terms"%>
</footer>